.big_lightboxPic {
  height: 440px;
}
.small_lightboxPic {
  height: 50%;
}
.room-intro-title {
  border-bottom: 2px solid #EFEFEF;
  font-size: 16px;
}
.room-intro-content {
  padding-left: 6rem;
  padding-right: 6rem;
}
.room {
  width: 70%;
}
.reservation_form {
  margin-left: 35px;
  box-shadow: 0 0 15px #00000029;
}
.small-text {
  font-size: 14px;
}
.small-b-text {
  font-size: 16px;
}
.medium-text {
  font-size: 20px;
}
.medium-font-weight {
  font-weight: 600;
}
.room_price_info {
  margin-right: 3rem;
}
.show_room_info {
  color: black;
  transition: all .5s;
}
.room_device_info {
  display: none;
}
@media (max-width: 1024px) {
  .room-intro-content {
    padding-left: 0rem;
    padding-right: 1rem;
  }
  .room_price_info {
    margin-right: 0;
  }
  .room {
    width: 90%;
  }
  .reservation_form {
    margin-left: -25px
  }
}
@media (max-width:900px){
  .reservation_form {
    margin-left: 0px
  }
}
@media (max-width:767px){
  .small_lightboxPic {
    height: 440px;
  }
}
@media (max-width:668px){
  .room {
    width: 100%;
  }
  .room-intro-content {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}